# Binaries for programs and plugins
*.exe 
*.exe~ 
*.dll 
*.so 
*.dylib 

# Test binary, built with go test -c 
*.test

# Output of the go coverage tool 
*.out

*.yaml
.vscode

# wechat-miniapp
wx/miniprogram/**/*.js
node_modules

.DS_Store
private.key
public.key 
